@using NonFactors.Mvc.Grid;
@model IEnumerable<EKE.Data.Entities.Gyopar.Magazine>

@(Html
    .Grid(Model)
    .Build(columns =>
    {
        columns.Add(model => model.Category.Name).Titled("Folyóirat").MultiFilterable(true);
        columns.Add(model => model.PublishYear).Titled("Kiadási év").MultiFilterable(false);
        columns.Add(model => model.PublishSection).Titled("Kiadási szám").MultiFilterable(false);
        columns.Add(model => model.Title).Titled("Cím").MultiFilterable(true);
        columns.Add(model => model.MagazineTags).Titled("Kulcsszavak").MultiFilterable(true);
        columns.Add(model => model.DateCreated).Titled("Létrehozási dátum").MultiFilterable(false);
        columns.Add(model => model.PublishedBy).Titled("Hozzáadta").MultiFilterable(false);
        columns.Add(model => model.Articles != null ? model.Articles.Count : 0).Titled("Cikkek száma").MultiFilterable(false);
        columns.Add(model => Html.ActionLink("Törlés", "DeleteMagazine", "Magazine", new { id = model.Id }, new { @class = "btn btn-default" })).Titled("Opciók").Encoded(false); // $"<button asp-action='DeleteMagazineCategory' asp-controller='Magazine' asp-route-id='{model.Id}' class='btn btn-danger' type='post'><i class='fa fa-trash'></i></button>")
    })
    .MultiFilterable()
    .Filterable()
    .Sortable()
    .Pageable()
    .Empty("Üres adattár a megadott paraméterekkel!")
)