<li class="header">EKE - Gyopár</li>
<li class="f3">
    <a asp-controller="Magazine" asp-action="MagazineList">
        <i class="fa fa-list"></i> <span>Lapok kezelése</span>
    </a>
</li>
<li class="f4">
    <a asp-controller="Magazine" asp-action="Index">
        <i class="fa fa-newspaper-o"></i> <span>Cikkek kezelése</span>
    </a>
</li>
<li class="f5">
    <a asp-controller="Magazine" asp-action="KeywordList">
        <i class="fa fa-tag"></i> <span>Kulcsszavak kevezéles</span>
    </a>
</li>