<li class="f11">
    <a asp-controller="Museum" asp-action="Category">
        <i class="fa fa-shopping-cart" aria-hidden="true"></i> <span>Kategóriák kezelése</span>
    </a>
</li>
<li class="f10">
    <a asp-controller="Museum" asp-action="Index">
        <i class="fa fa-shopping-cart" aria-hidden="true"></i> <span>Elemek kezelése</span>
    </a>
</li>
<li class="f12">
    <a asp-controller="Museum" asp-action="Tag">
        <i class="fa fa-shopping-cart" aria-hidden="true"></i> <span>Címkék kezelése</span>
    </a>
</li>