<li class="header">SzuperAdmin navigáció</li>

<li class="active">
    <a asp-action="Index" asp-controller="Home">
        <i class="fa fa-th"></i> <span>Áttekintés</span>
    </a>
</li>
<li class="">
    <a asp-action="ManageUsers" asp-controller="Account">
        <i class="fa fa-user"></i> <span>Felhasználókezelés</span>
    </a>
</li>
