<li class="header">EKE - Eszköztár</li>
<li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Google Analytics</span></a></li>
<li><a href="#"><i class="fa fa-envelope text-red"></i> <span>Mailrendszer</span></a></li>