@model EKE_Muzeum.Web.ViewModels.HomeVM
@{
    ViewData["Title"] = "Főoldal";
}

@Html.Partial("Partials/_Loader")

<div id="elemDesc">
</div>

<div id="portfolio" class="portfolio grid-container portfolio-3 portfolio-full portfolio-nomargin portfolio-notitle clearfix">

    <div class="loadElems">
        @Html.Partial("Partials/_ElementHandler", Model.Elements)
    </div>

    <div class="appendResult"></div>
</div>

<div class="scrollUpdate" data-page="0" data-category="" data-keyword=""></div>

@section scripts {
    <environment names="Development,Staging,Production">
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script type="text/javascript">
            Museum.initPage();
        </script>
    </environment>
}

@*<a class="button button-full center button-light button-white">
        <div class="container clearfix">
            Kérdése van? <strong>Keressen meg bennünket</strong> <i class="icon-caret-right" style="top:4px;"></i>
        </div>
    </a>*@