@using NonFactors.Mvc.Grid;
@using EKE.Data.Entities.Enums
@using Microsoft.AspNetCore.Html
@model IEnumerable<EKE.Data.Entities.Museum.Element>
@functions{
        public IHtmlContent ConvertToHtmlType(string input)
        {
            var output = input?.Length > 150 ? input.Substring(0, 150) : input;
            return Html.Raw(output);
        }
}
@(Html
    .Grid(Model)
    .Build(columns =>
    {
        columns.Add(model => $"<a href='#' class='elemTitleCheck' data-type='text' data-pk=" + model.Id + " data-url='/Museum/Update' data-title='Cím' data-name='ElemTitle'>" + model.Title + "</a>").Titled("Cím").Encoded(false).Filterable(true).Sortable(true);
        columns.Add(model => $"<a href='#' class='elemAuthorCheck' data-type='text' data-pk=" + model.Id + " data-url='/Museum/Update' data-title='Szerző' data-name='ElemAuthor'>" + model.Author + "</a>").Titled("Szerző").Encoded(false).Filterable(true).Sortable(true);
        columns.Add(model => model.Category.Name).Titled("Kategória");
        columns.Add(model => $"<a href='#' class='elemDescriptionCheck' data-type='textarea' data-pk=" + model.Id + " data-url='/Museum/Update' data-title='Leírás' data-name='ElemDescription'>" + Html.Raw(model.Description) + "</a>").Titled("Leírás").Encoded(false).Css("elemDescription");
        columns.Add(model => model.DateCreated).Titled("Dátum");
        columns.Add(model => $"<a href='#' class='elemVisibleCheck' data-type='select' data-pk=" + model.Id + " data-url='/Museum/Update' data-title='Kiválasztott' data-name='ElemVisible'>" + model.Selected + "</a>").Titled("Kiválasztott").Encoded(false).Sortable(true);
        columns.Add(model => model.MediaElement.Count).Titled("Képek száma");
        columns.Add(model => Html.ActionLink("Törlés", "DeleteElement", "Museum", new { id = model.Id }, new { @class = "btn btn-default" })).Titled("Opciók").Encoded(false);
    })
    .Pageable()
    .Empty("Üres adattár a megadott paraméterekkel!")
)