<header id="header" class="static-sticky transparent-header dark">

    <div id="header-wrap">

        <div class="container clearfix">

            <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

            <!-- Logo
            ============================================= -->
            <div id="logo">
                <a href="index.html" data-dark-logo="images/logo/gyopar-logo.png" class="standard-logo"><img src="images/logo/gyopar-logo.png" alt="Erdélyi Gyopár" class="padding-10"></a>
                <a href="index.html" data-dark-logo="images/logo/gyopar-logo.png" class="retina-logo"><img src="images/logo/eke.gif" alt="Erdélyi Gyopár" class="padding-10"></a>
            </div><!-- #logo end -->
            <!-- Primary Navigation
            ============================================= -->
            <nav id="primary-menu" class="with-arrows">

                <ul>
                    <li class="current"><a href="#"><div>Főoldal</div></a></li>
                    <li><a href="#"><div>Impresszum</div></a></li>
                    <li><a href="#"><div>Megrendelés</div></a></li>
                    <li>
                        <a href="#"><div>EKE</div></a>
                        <ul>
                            <li><a href="#"><div>Erdély</div></a></li>
                            <li><a href="#"><div>Gyopár</div></a></li>
                        </ul>
                    </li>
                    <li><a href="#"><div>Szinoníma szótár</div></a></li>
                    <li><a href="#"><div>Elérhetőség</div></a></li>
                </ul>

            </nav><!-- #primary-menu end -->

        </div>

    </div>

</header>