<header id="header" class="static-sticky transparent-header dark">

    <div id="header-wrap">

        <div class="container clearfix">

            <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

            <!-- Logo
            ============================================= -->
            <div id="logo">
                <a href="index.html" data-dark-logo="images/logo/gyopar-logo.png" class="standard-logo"><img src="images/logo/gyopar-logo.png" alt="Canvas Logo"></a>
                <a href="index.html" data-dark-logo="images/logo/eke.gif" class="retina-logo"><img src="images/logo/eke.gif" alt="Canvas Logo"></a>
            </div><!-- #logo end -->
            <!-- Primary Navigation
            ============================================= -->
            <nav id="primary-menu" class="with-arrows">

                <ul>
                    <li class="current"><a href="#"><div>Home</div></a></li>
                    <li><a href="#"><div>About Us</div></a></li>
                    <li>
                        <a href="#"><div>Properties</div></a>
                        <ul>
                            <li><a href="#"><div>Condo Apartments</div></a></li>
                            <li><a href="#"><div>Luxury Villas</div></a></li>
                            <li><a href="#"><div>Premium Estates</div></a></li>
                        </ul>
                    </li>
                    <li><a href="#"><div>Builders</div></a></li>
                    <li><a href="#"><div>Services</div></a></li>
                    <li><a href="#"><div>News</div></a></li>
                    <li><a href="#"><div>Contact</div></a></li>
                </ul>

            </nav><!-- #primary-menu end -->

        </div>

    </div>

</header>