<div id="top-bar" class="transparent-topbar">

    <div class="container clearfix">

        <div class="col_half nobottommargin clearfix">

            <!-- Top Links
            ============================================= -->
            <div class="top-links">
                <ul>
                    <li>
                        <a href="#">All Cities</a>
                        <ul>
                            <li><a href="#">New York</a></li>
                            <li><a href="#">Los Angeles</a></li>
                            <li><a href="#">California</a></li>
                            <li><a href="#">Miami</a></li>
                            <li><a href="#">Las Vegas</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- .top-links end -->

        </div>

        <div class="col_half fright col_last clearfix nobottommargin">

            <!-- Top Links
            ============================================= -->
            <div class="top-links">
                <ul>
                    <li class="hidden-sm"><a href="#"><i class="icon-call"></i> +1800-123-7890</a></li>
                    <li><a href="#"><i class="icon-download-alt"></i> Download App</a></li>
                    <li class="top-bar-highlight">
                        <a href="#">Sell/Rent your Property</a>
                        <div class="top-link-section" style="font-size: 14px;">
                            Genuine Clients, 100% Trust Assurance and Lowest Fees on the Market. <a href="#" class="more-link font-secondary" style="border-bottom-style: dotted;">Learn More &rarr;</a>
                        </div>
                    </li>
                    <li><a href="#" class="side-panel-trigger">Login/Register</a></li>
                </ul>
            </div><!-- .top-links end -->

        </div>

    </div>

</div>