<div class="promo promo-dark promo-flat bottommargin-lg">
    <h3 class="t400 ls1">Az Erdélyi Kárpát-Egyesület kiadványai</h3>
    <a href="javascript:void(0);" class="button button-dark button-large button-rounded">Érdekel</a>
</div>