@model EKE.Data.Entities.Gyopar.Article
<div class="sidebar nobottommargin col_last clearfix">
    <div class="sidebar-widgets-wrap">

        <div id="fb-root"></div>
        <div class="fb-page" data-href="https://www.facebook.com/EKE-Erd%C3%A9lyi-K%C3%A1rp%C3%A1t-Egyes%C3%BClet-752173914839126/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/EKE-Erd%C3%A9lyi-K%C3%A1rp%C3%A1t-Egyes%C3%BClet-752173914839126/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/EKE-Erd%C3%A9lyi-K%C3%A1rp%C3%A1t-Egyes%C3%BClet-752173914839126/">EKE - Erdélyi Kárpát-Egyesület</a></blockquote></div>

        <div class="widget clearfix">
            <h4>Válogatott képek</h4>
            <div id="flickr-widget" class="flickr-feed masonry-thumbs" data-id="11611663@N00" data-count="16" data-type="group" data-lightbox="gallery"></div>
        </div>

        @if (Model.ArticleTags != null)
        {
            <div class="widget clearfix">

                <h4>Kulcsszavak</h4>
                <div class="tagcloud">
                    <a href="#">general</a>
                    <a href="#">videos</a>
                    <a href="#">music</a>
                    <a href="#">media</a>
                    <a href="#">photography</a>
                    <a href="#">parallax</a>
                    <a href="#">ecommerce</a>
                    <a href="#">terms</a>
                    <a href="#">coupons</a>
                    <a href="#">modern</a>
                </div>

            </div>
        }
    </div>

</div><!-- .sidebar end -->
