<div class="col-md-4 bgcolor">
    <div class="col-padding">
        <div class="quick-contact-widget dark clearfix">

            <h3 class="ls1 t400">Rendeljen elő az Erdélyi Gyopárra!</h3>

            <div class="quick-contact-form-result"></div>

            <form id="quick-contact-form" name="quick-contact-form" action="include/quickcontact.php" method="post" class="quick-contact-form nobottommargin">

                <div class="form-process"></div>

                <input type="text" class="required sm-form-control input-block-level not-dark" id="quick-contact-form-name" name="quick-contact-form-name" value="" placeholder="Teljes név" />

                <input type="email" class="required sm-form-control email input-block-level not-dark" id="quick-contact-form-email" name="quick-contact-form-email" value="" placeholder="Email cím" />

                <input type="text" class="required sm-form-control input-block-level not-dark" id="quick-contact-form-phone" name="quick-contact-form-phone" value="" placeholder="Telefonszám" />

                <textarea class="sm-form-control input-block-level not-dark short-textarea" id="quick-contact-form-message" name="quick-contact-form-message" rows="5" cols="30" placeholder="Honnan hallott az Erdélyi Gyopárról?"></textarea>

                <input type="text" class="hidden" id="quick-contact-form-botcheck" name="quick-contact-form-botcheck" value="" />

                <button type="submit" id="quick-contact-form-submit" name="quick-contact-form-submit" class="button button-small button-rounded button-light button-white nomargin" value="submit">Küldés</button>

            </form>

        </div>
    </div>
</div>