@model EKE.Data.Entities.Gyopar.Order
<div class="col-md-4 bgcolor">
    <div class="col-padding">
        <div class="quick-contact-widget dark clearfix" id="orderMagazine">

            <h3 class="ls1 t400">Rendeljen elő az Erdélyi Gyopárra!</h3>
            <div class="quick-contact-form-result"></div>
            <form asp-controller="Home" asp-action="AddOrder" data-ajax="true" data-ajax-method="POST" data-ajax-mode="insertafter" data-ajax-success="Main.setNoty('Rendelés sikeresen lementve!', 'success');">
                <div class="form-process"></div>

                <input asp-for="@Model.Name" type="text" class="required sm-form-control input-block-level not-dark" value="" placeholder="Teljes név" />

                <input asp-for="@Model.Email" type="email" class="required sm-form-control email input-block-level not-dark" value="" placeholder="Email cím" />

                <input asp-for="@Model.PhoneNumber" type="text" class="required sm-form-control input-block-level not-dark" value="" placeholder="Telefonszám" />

                <textarea asp-for="@Model.Description" class="sm-form-control input-block-level not-dark short-textarea" rows="5" cols="30" placeholder="Honnan hallott az Erdélyi Gyopárról?"></textarea>

                <input type="text" class="hidden" id="quick-contact-form-botcheck" name="quick-contact-form-botcheck" value="" />

                <button type="submit" class="button button-small button-rounded button-light button-white nomargin" value="submit">Küldés</button>
            </form>
        </div>
    </div>
</div>