<div class="row real-estate-properties clearfix">
    <div class="col-md-7">
        <a href="#" style="background: url('gyopar/images/Uploads/egyebek/01 Bakancs H.jpg') no-repeat bottom center; background-size: cover;">
            <div class="vertical-middle dark center">
                <div class="heading-block nomargin noborder">
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-5">
        <a href="#" style="background: url('gyopar/images/Uploads/egyebek/02 Memoriajatek H.jpg') no-repeat center center; background-size: cover;">
            <div class="vertical-middle dark center">
                <div class="heading-block nomargin noborder">
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-4">
        <a href="#" style="background: url('gyopar/images/Uploads/egyebek/03 Falinaptar H.jpg') no-repeat center center; background-size: cover;">
            <div class="vertical-middle dark center">
                <div class="heading-block nomargin noborder">
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-4">
        <a href="#" style="background: url('gyopar/images/Uploads/egyebek/04 Gyoparka H.jpg') no-repeat center center; background-size: cover;">
            <div class="vertical-middle dark center">
                <div class="heading-block nomargin noborder">
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-4">
        <a href="#" style="background: url('gyopar/images/Uploads/egyebek/05 EKE 120 H.jpg') no-repeat center center; background-size: cover;">
            <div class="vertical-middle dark center">
                <div class="heading-block nomargin noborder">
                </div>
            </div>
        </a>
    </div>
</div>