@using EKE.Data.Entities.Gyopar
@model List<Article>
<section>
    <div class="heading-block">
        <h3>Válogatott cikkek</h3>
    </div>

    <div id="overlayArticle">
        <i class="fa fa-spinner fa-spin spin-normal"></i>
    </div>
    @if (Model != null)
    {
        foreach (var article in Model)
        {
            <div class="col-md-4 col-sm-6 col-xs-12 bottommargin-sm cursor-pointer" onclick="Main.searchArticle('@article.Slug')">
                <div class="feature-box fbox-plain">
                    <div class="fbox-icon">
                        <a href="javascript:void(0);"><i class="icon-realestate-doc"></i></a>
                    </div>
                    <h3 class="t400">@article.Title</h3>
                    <div class="overflow-text">@Html.Raw(article.Content)</div>
                </div>
            </div>
        }
    }

    <div class="clear"></div>
    <div class="line topmargin-sm bottommargin-lg"></div>
</section>