<div class="container clear-bottommargin clearfix">

    <div class="col_two_third">

        <div class="tabs tabs-justify tabs-tb tabs-alt nobottommargin clearfix" id="realestate-tabs" data-active="2">

            <ul class="tab-nav clearfix">
                <li><a href="#realestate-tab-1" class="tab_1">Tudnivalók</a></li>
                <li><a href="#realestate-tab-2" class="tab_2">Impresszum</a></li>
                <li><a href="#realestate-tab-3" class="tab_3">Előfizetés</a></li>
            </ul>

            <div class="tab-container">

                <div class="tab-content clearfix" id="realestate-tab-1">
                    <p>
                        A folyóiratban megjelent írások szerzői jogvédelem alatt állnak, azok bármilyen formában történő további felhasználása csak a forrás feltüntetésével engedélyezett.
                        <div class="col_one_fourth nobottommargin center">
                            <div class="counter ls1 t600" style="color: #D2D2D2;"><span data-from="100" data-to="464" data-refresh-interval="50" data-speed="2000"></span></div>
                            <h5>Lapszám</h5>
                        </div>

                        <div class="col_one_fourth nobottommargin center">
                            <div class="counter ls1 t600" style="color: #D2D2D2;"><span data-from="100" data-to="5196" data-refresh-interval="50" data-speed="2000"></span></div>
                            <h5>Cikk</h5>
                        </div>

                        <div class="col_one_fourth nobottommargin center">
                            <div class="counter ls1 t600" style="color: #D2D2D2;"><span data-from="100" data-to="1412" data-refresh-interval="50" data-speed="2000"></span></div>
                            <h5>Szerző</h5>
                        </div>

                        <div class="col_one_fourth nobottommargin center col_last">
                            <div class="counter ls1 t600" style="color: #D2D2D2;"><span data-from="1" data-to="15" data-refresh-interval="50" data-speed="2000"></span></div>
                            <h5>EKE osztály</h5>
                        </div>
                </div>
                <div class="tab-content clearfix" id="realestate-tab-2">

                    <div class="col-sm-6">
                        <p><b>Erdélyi Gyopár</b> <br /> Az Erdélyi Kárpát-Egyesület folyóirata <br /> Az 1892–1948 között megjelent Erdély folyóirat jogutódja <br /> Megjelenik kéthavonta </p>
                        <ul>
                            Felelős szerkesztők:
                            <li>
                                <b>Balázs Katalin</b> (balazs.katalin@eke.ma)
                            </li>
                            <li>
                                <b>Deák László</b> (deak.laszlo@eke.ma)
                            </li>
                        </ul>

                        <ul>
                            Kiadvány-koordinátor:
                            <li>
                                <b>Veres Ágnes</b> (veres.agnes@eke.ma)
                            </li>
                        </ul>

                        <ul>
                            Tördelőszerkesztő:
                            <li>
                                <b>Várdai Éva</b>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <ul>
                            Munkatársak:
                            <li>
                                <b>Bartók Attila</b> (Környezetvédelem)
                            </li>
                            <li>
                                <b>Bélfenyéri Gábor</b> (Gombák)
                            </li>
                            <li>
                                <b>Böjthe-Beyer Barna</b> (GPS-világ)
                            </li>
                            <li>
                                <b>Jánosi Csaba</b> (Borvizeink, gyógyvizeink)
                            </li>
                            <li>
                                <b>Dr. Kovács Lehel István</b> (Honismeret)
                            </li>
                            <li>
                                <b>Molnár Zoltán</b> (Csillagászat)
                            </li>
                            <li>
                                <b>Dr. Rusz Ottilia</b> (Légtüneménytan)
                            </li>
                        </ul>
                        <p>Postacím: S.C.A., O. P. 1, C. P. 41, <br /> 400750 Kolozsvár (Cluj), RO </p>
                        <p></p>
                        <span>e-mail: gyopar@eke.ma</span><br />
                        <span>honlap: www.erdelyigyopar.ro, www.eke.ma</span><br />
                        <span>ISSN: 1583-9532</span>
                    </div>
                </div>
                <div class="tab-content clearfix" id="realestate-tab-3">

                    <div class="clear-bottommargin-sm">
                        <div class="row clearfix">
                            <p>Az átutalás tárgyaként minden esetben kérjük feltüntetni nevüket, postai és e-mail címüket, valamint hogy „Erdélyi Gyopár előfizetés 2018”, ugyanakkor kérjük ezen adatokat az elofizetes@eke.ma címre is elküldeni.</p>
                            <p><b>Erdélyben:</b></p>
                            <ul>
                                Előfizetési díj egy évre (postaköltséggel együtt): 40 lej
                                <li>
                                    <b>Banki</b> átutalással:
                                    <p>Societatea Carpatină Ardeleană</p>
                                    <p>ING Bank N.V. Amsterdam – Sucursala Bucureşti</p>
                                    <p>Bankszámla száma: RO74 INGB 0000 9999 0316 7890</p>
                                    <p>Adószám (cod fiscal): 4960082</p>
                                    <p>Banki készpénzbefizetés esetén a kezelési díjat (10 lej) kérjük hozzáadni az előfizetés díjához.</p>
                                </li>
                                <li>
                                    <b>Postai</b> átutalással:
                                    <p>Societatea Carpatină Ardeleană (Veres Ágnes)</p>
                                    <p>O. P. 1, C. P. 41, 400750 Cluj</p>
                                </li>
                            </ul>
                            <p><b>Magyarországon:</b></p>
                            <ul>
                                Előfizetési díj egy évre (postaköltséggel együtt): 3900 forint
                                <li>
                                    <b>Banki átutalással az EKE magyarországi számlájára:</b>
                                    <p>Erdélyi Kárpát-Egyesület</p>
                                    <p>Unicredit Bank</p>
                                    <p>Bankszámla száma: 10918001-00000027-75640007</p>
                                    <p>Banki készpénzbefizetés esetén a kezelési díjat (500 forint) kérjük hozzáadni az előfizetés díjához.</p>
                                </li>
                            </ul>
                            <p>
                                Az aláírt vagy betűjellel ellátott cikkekért szerzőik felelnek, ezek nem feltétlenül fejezik ki a szerkesztőség véleményét.
                            </p>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>

    <div class="col_one_third col_last">

        <h4 class="center">Támogatók</h4>

        <ul class="clients-grid no-grid nobottommargin clearfix">
            <li style="padding: 5px;"><a href="javascript:void(0);" style="opacity: 0.9"><img src="~/images/Uploads/tamogat/02 BGA.jpg" alt="Clients"></a></li>
            <li style="padding: 5px;"><a href="javascript:void(0);" style="opacity: 0.9"><img src="~/images/Uploads/tamogat/03 NKA_logo_2012-01.png" alt="Clients"></a></li>
        </ul>

        <ul class="clients-grid grid-2 nobottommargin clearfix">
            <li style="padding: 5px;"><a href="javascript:void(0);" style="opacity: 0.9"><img src="~/images/Uploads/tamogat/01 communitas_vizszintes.png" alt="Clients"></a></li>
            <li style="padding: 5px;"><a href="javascript:void(0);" style="opacity: 0.9"><img src="~/images/Uploads/tamogat/04 Kolozs MT.jpg" alt="Clients"></a></li>
            <li style="padding: 5px;top:-105px;"><a href="javascript:void(0);" style="opacity: 0.9;"><img src="~/images/Uploads/tamogat/05 mark_house_logo.png" alt="Clients"></a></li>
            <li style="padding: 5px;"><a href="javascript:void(0);" style="opacity: 0.9"><img src="~/images/Uploads/tamogat/06 IDEA PLUS logo.jpg" alt="Clients"></a></li>
        </ul>

    </div>

    <div class="clear"></div>

</div>
