

        <div class="col_three_fifth bottommargin-lg">
            <div class="fslider flex-thumb-grid grid-6" data-speed="400" data-arrows="true" data-thumbs="true" data-easing="easeOutQuad">
                <div class="flexslider">
                    <div class="slider-wrap">
                        <div class="slide" data-thumb="http://canvashtml-cdn.semicolonweb.com/images/magazine/thumb/1.jpg">
                            <a href="#">
                                <img src="http://canvashtml-cdn.semicolonweb.com/images/magazine/1.jpg" alt="">
                                <div class="overlay">
                                    <div class="text-overlay">
                                        <div class="text-overlay-title">
                                            <h3>Locked Steel Gate</h3>
                                        </div>
                                        <div class="text-overlay-meta">
                                            <span>Illustrations</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="slide" data-thumb="http://canvashtml-cdn.semicolonweb.com/images/magazine/thumb/2.jpg">
                            <a href="#">
                                <img src="http://canvashtml-cdn.semicolonweb.com/images/magazine/2.jpg" alt="">
                                <div class="overlay">
                                    <div class="text-overlay">
                                        <div class="text-overlay-title">
                                            <h3>Russia hits back, says US acts like a 'bad surgeon'</h3>
                                        </div>
                                        <div class="text-overlay-meta">
                                            <span><i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star-half-full"></i> <i class="icon-star-empty"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="slide" data-thumb="http://canvashtml-cdn.semicolonweb.com/images/magazine/thumb/3.jpg">
                            <a href="#">
                                <img src="http://canvashtml-cdn.semicolonweb.com/images/magazine/3.jpg" alt="">
                                <div class="overlay">
                                    <div class="text-overlay">
                                        <div class="text-overlay-title">
                                            <h3>Locked Steel Gate</h3>
                                        </div>
                                        <div class="text-overlay-meta">
                                            <span>Technology</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="slide" data-thumb="http://canvashtml-cdn.semicolonweb.com/images/magazine/thumb/4.jpg">
                            <iframe src="http://player.vimeo.com/video/99895335" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        </div>
                        <div class="slide" data-thumb="http://canvashtml-cdn.semicolonweb.com/images/magazine/thumb/5.jpg">
                            <a href="#">
                                <img src="http://canvashtml-cdn.semicolonweb.com/images/magazine/5.jpg" alt="">
                                <div class="overlay">
                                    <div class="text-overlay">
                                        <div class="text-overlay-title">
                                            <h3>Locked Steel Gate</h3>
                                        </div>
                                        <div class="text-overlay-meta">
                                            <span><i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star-half-full"></i> <i class="icon-star-empty"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="slide" data-thumb="http://canvashtml-cdn.semicolonweb.com/images/magazine/thumb/6.jpg">
                            <a href="#">
                                <img src="http://canvashtml-cdn.semicolonweb.com/images/magazine/6.jpg" alt="">
                                <div class="overlay">
                                    <div class="text-overlay">
                                        <div class="text-overlay-title">
                                            <h3>Locked Steel Gate</h3>
                                        </div>
                                        <div class="text-overlay-meta">
                                            <span>Entertainment</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col_two_fifth bottommargin-lg col_last">

            <div class="spost clearfix">
                <div class="entry-c">
                    <div class="entry-title">
                        <h4><a href="#">UK government weighs Tesla's Model S for its ??5 million electric vehicle fleet</a></h4>
                    </div>
                </div>
            </div>

            <div class="spost clearfix">
                <div class="entry-c">
                    <div class="entry-title">
                        <h4><a href="#">MIT's new robot glove can give you extra fingers</a></h4>
                    </div>
                </div>
            </div>

            <div class="spost clearfix">
                <div class="entry-c">
                    <div class="entry-title">
                        <h4><a href="#">You can now listen to headphones through your hoodie</a></h4>
                    </div>
                </div>
            </div>

            <div class="spost clearfix">
                <div class="entry-c">
                    <div class="entry-title">
                        <h4><a href="#">How would you change Kobo's Aura HD e-reader?</a></h4>
                    </div>
                </div>
            </div>

            <div class="spost clearfix">
                <div class="entry-c">
                    <div class="entry-title">
                        <h4><a href="#">A Baseball Team Blew Up A Bunch Of Justin Bieber And Miley Cyrus Merch</a></h4>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
