<header id="header">

    <div id="header-wrap">

        <div class="container clearfix">

            <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

            <!-- Logo
            ============================================= -->
            <div id="logo" class="nobottomborder">
                <a href="@Url.Action("Index","Home")" class="standard-logo" data-dark-logo="~/images/logo/eke.gif"><img src="~/images/logo/eke.gif" alt="Canvas Logo"></a>
                <a href="@Url.Action("Index","Home")" class="retina-logo" data-dark-logo="~/images/logo/eke.gif"><img src="~/images/logo/eke.gif" alt="Canvas Logo"></a>
                <a href="@Url.Action("Index","Home")" style="margin-top: 10px;text-align: center;font-size:32px;"><b>EKE</b>Múzeum</a>
            </div><!-- #logo end -->
            <!-- Primary Navigation
            ============================================= -->
            <div class="box">
                <div class="container-3 hidden-sm hidden-xs">
                    <span class="icon"><i class="fa fa-search"></i></span>
                    <input type="search" id="search" placeholder="Keresés..." autocomplete="off" />
                </div>
            </div>

            <div class="primary-menu">
                @Html.Partial("Partials/_PrimaryMenu", new List<EKE.Data.Entities.Museum.ElementCategory>())
            </div>

            <div class="box-sm hidden-md hidden-lg">
                <div class="container-3">
                    <span class="icon"><i class="fa fa-search"></i></span>
                    <input type="search" id="search2" placeholder="Keresés..." autocomplete="off" />
                </div>
            </div>

            <div class="clearfix visible-md visible-lg">
                <a href="#" class="social-icon si-small si-borderless si-facebook">
                    <i class="icon-facebook"></i>
                    <i class="icon-facebook"></i>
                </a>

                <a href="#" class="social-icon si-small si-borderless si-twitter">
                    <i class="icon-twitter"></i>
                    <i class="icon-twitter"></i>
                </a>

                <a href="#" class="social-icon si-small si-borderless si-gplus">
                    <i class="icon-gplus"></i>
                    <i class="icon-gplus"></i>
                </a>

                <a href="#" class="social-icon si-small si-borderless si-pinterest">
                    <i class="icon-pinterest"></i>
                    <i class="icon-pinterest"></i>
                </a>

                <a href="#" class="social-icon si-small si-borderless si-github">
                    <i class="icon-github"></i>
                    <i class="icon-github"></i>
                </a>
            </div>

        </div>

    </div>

</header><!-- #header end -->