@using NonFactors.Mvc.Grid;
@model EKE_Admin.Web.ViewModels.UserManagementVM
@{
    ViewData["Title"] = "Felhasználókezelés";
}
<link rel="stylesheet" href="~/lib/admin-lte/plugins/select2/select2.css">
<link href="~/css/MVCGrid/mvc-grid.css" rel="stylesheet">

@Html.Partial("Layout/_ErrorHandling", TempData["ErrorMessage"])
<div id="responseContent"></div>

<section class="content-header">
    <h1>
        Felhasználók kezelése
        <small>Admin panel</small>
    </h1>
</section>

<section class="content">
    <div class="box box-success">
        <form asp-controller="Account" asp-action="RegisterUser" data-ajax="true" data-ajax-method="POST" data-ajax-mode="insertafter" data-ajax-update="#responseContent" data-ajax-success="UserManagement.reloadMvcGrid()" data-ajax-begin="UserManagement.loadingOverlay()" enctype="multipart/form-data">
            <div class="box-body">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>Email cím</label>
                        <input name="Email" class="form-control" />
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>Jelszó</label>
                        <input name="Password" type="password" class="form-control" />
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>Jelszó megerõsítése</label>
                        <input name="ConfirmPassword" type="password" class="form-control" />
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>Szerepek</label>
                        <select class="form-control select2" name="roles" multiple="multiple" data-placeholder="Jogok kiválasztása" style="width: 100%;">
                            @foreach (var item in Model.Roles)
                            {
                                <option>@item.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-sm-offset-2 col-sm-2">
                    <div class="form-group">
                        <label>&nbsp;</label>
                        <div class="row">
                            <button type="submit" class="btn btn-default pull-right">Regisztrálás</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

<section class="content">
    @(Html
    .Grid(Model.AppUser)
    .Build(columns =>
    {
        columns.Add(model => model.Email).Titled("Email cím");
        columns.Add(model => model.UserName).Titled("Felhasználónév");
        columns.Add(model => model.RoleAssigned).Titled("Típus");
        columns.Add(model => Html.ActionLink("Törlés", "DeleteConfirmed", "Account", new { id = model.Id },
            new
            {
                @class = "btn btn-primary",
                data_ajax = "true",
                data_ajax_method = "POST",
                data_ajax_mode = "replace",
                data_ajax_update = "#responseContent",
                data_ajax_success = "UserManagement.reloadMvcGrid()",
            })).Titled("Opciók").Encoded(false);
    })
    .Filterable()
    .Sortable()
    .Pageable()
    )
</section>

@section scripts{
    <script src="~/lib/jquery.unobtrusive-ajax/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/lib/admin-lte/plugins/select2/select2.full.js"></script>
    <script src="~/js/MVCGrid/mvc-grid.js"></script>
    <script src="~/js/UserManagement/main.js"></script>
    <script>
        UserManagement.init();
    </script>
}
