@using NonFactors.Mvc.Grid;
@model EKE_Admin.Web.ViewModels.UserManagementVM
@{
    ViewData["Title"] = "Felhasználókezelés";
}
<link href="~/css/MVCGrid/mvc-grid.css" rel="stylesheet">
<section class="content-header">
    <h1>
        Felhasználók kezelése
        <small>Admin panel</small>
    </h1>
</section>

<form asp-controller="Account" asp-action="RegisterUser" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
    <h4>Create a new account.</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="RegisterVM.Email" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="RegisterVM.Email" class="form-control" />
            <span asp-validation-for="RegisterVM.Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="RegisterVM.Password" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="RegisterVM.Password" class="form-control" />
            <span asp-validation-for="RegisterVM.Password" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="RegisterVM.ConfirmPassword" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="RegisterVM.ConfirmPassword" class="form-control" />
            <span asp-validation-for="RegisterVM.ConfirmPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        Role
        <div class="col-md-10">
            <input name="role" class="form-control" />
            <span for="role" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Register</button>
        </div>
    </div>
</form>

<section class="content">
    @(Html
    .Grid(Model.AppUser)
    .Build(columns =>
    {
        columns.Add(model => model.Email).Titled("Email cím");
        columns.Add(model => model.UserName).Titled("Felhasználónév");
        columns.Add(model => model.RoleAssigned).Titled("Típus");
        columns.Add(model => $"<button data-id=\"{model.Id}\" class='btn btn-primary'><i class='fa fa-pencil'></i></button>").Encoded(false);
        columns.Add(model => $"<button data-id=\"{model.Id}\" class='btn btn-danger'><i class='fa fa-trash'></i></button>").Encoded(false);
    })
    .Filterable()
    .Sortable()
    .Pageable()
    )
</section>
@section scripts{
    <script src="~/js/MVCGrid/mvc-grid.js"></script>
    <script>
        $('.mvc-grid').mvcgrid();
    </script>
}