<section class="page-title-loading" style="padding-top:0px !important;display:none;">
    <div>
        <h4 style="margin-bottom:0px; height:40px;padding-top:7px;">Betöltés...</h4>
    </div>
</section>