<div id="initModal" style="white-space: pre-line;line-height: 1.5;font-size: 16px;">
    Még senkinek sem sikerült a múló időt megállítani. A kronosz megfékezhetetlen, a kairosz viszont, a pillanat megragadható és megőrizhető. Ennek tudatában voltak turistaelődeink is, az 1891-ben életre hívott Erdélyi Kárpát-Egyesület alapítói. Ők fontosnak tartották megőrizni az anyagot és élményt, béklyóba kötni az emléket. Ennek eszközéül választották a múzeumalapítást, és hogy az erdélyi értékek rangját jelezzék, Kolozsváron a Mátyás király szülőházban rendezték be az Erdélyi Néprajzi Múzeumot. Megnyitója 1902. október 12-én volt.

    115 év elteltével szinte napra pontosan az Erdélyi Kárpát-Egyesület újra múzeumot alapított. Az értékek rangját – az új idők szelei szerint – azzal jelzik, hogy mindenki számára hozzáférhetővé teszik. Nem polcokon porosodnak a relikviák, nem tárlókban találhatóak a dokumentumok, hanem a világháló adta lehetőségek mentén bekerülnek mindannyiunk szobájába. Közkincs mostantól az Erdélyi Kárpát-Egyesület és ettől elválaszthatatlanul az erdélyi turistaság történelme, sok kiadvánnyal és tárgyi hagyatékkal. Emlékekkel, melyek meghatároznak, melyek jellemrajzunkat adják, amely által felismerhető az erdélyi természetszerető emberek közössége.

    Mindannyiunk számára lehetőség ez, hogy visszatekintsünk a múltba, éljünk az ősök tudásából, ugyanakkor felelősség is: tovább kell gyarapítanunk a múzeumot. Örömmel fogadjuk, ha az ekemuzeum.ro honlapot ön is népszerűsíti, ha múltkutatók, egyetemisták figyelmébe ajánlja, és ha régi dokumentumokkal, tárgyi emlékekkel rendelkezik az EKE első, 1891–1948-as időszakából, a múzeumalapítónak eljuttatja.

    Felajánlását az eke@eke.ma címen várjuk, ha pedig önnek lenne szüksége bármilyen képre a múzeumból, azt is szívesen adjuk, csupán gyűjtőjével kell felvennie a kapcsolatot.

    És e múzeumban csodálva a múltat ne feledjük el: nekünk ma kell megragadni a pillanatot. Ez is hagyatékunk része lesz utódaink tarsolyában.
</div>