@using EKE.Data.Entities.Museum
@model List<ElementCategory>
@{
    var elems = Model;
    var parents = Model.Where(x => x.Parent == null);
}

@functions{
    public List<ElementCategory> Childrens(ElementCategory category)
    {
        var result = Model.Where(x => x.Parent == category);
        return result.ToList();
    }
}

<nav id="primary-menu">
    <ul>
        @if (Model.Count == 0)
        {
            <li>
                <a href="#"><div>Betöltés... </div></a>
            </li>
        }
        else
        {
            foreach (var item in parents)
            {
                <li>
                    <a href="#"><div>@item.Name</div></a>

                    @if (Childrens(item).Count != 0)
                    {
                        <ul>
                            @foreach (var children in Childrens(item))
                            {
                                <li>
                                    <a href="#"><div>@children.Name</div></a>
                                    @if (Childrens(children).Count != 0)
                                    {
                                        <ul>
                                            @foreach (var subChildren in Childrens(children))
                                            {
                                                <li>
                                                    <a href="#"><div>@subChildren.Name</div></a>
                                                </li>
                                            }
                                        </ul>
                                    }
                                </li>
                            }
                        </ul>
                    }
                </li>
            }
        }
    </ul>
</nav>