<header id="header" class="sticky-style-2">

    <div class="container clearfix">

        <!-- Logo
        ============================================= -->
        <div id="logo">
            <a routerLink="/home" href="#" class="standard-logo" data-dark-logo="images/logo-dark.png"><img [src]="ekeLogo" alt="Canvas Logo"></a>
            <a routerLink="/home" class="retina-logo" data-dark-logo="images/logo-dark@2x.png"><img [src]="ekeLogo" alt="Canvas Logo"></a>
        </div><!-- #logo end -->

        <div class="top-advert">
            <!--<img src="images/magazine/ad.jpg" alt="Ad">-->
        </div>

    </div>

    <div id="header-wrap">

        <!-- Primary Navigation
        ============================================= -->
        <nav id="primary-menu" class="style-2">

            <div class="container clearfix">

                <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

                <ul>
                    <li class="current">
                        <a routerLink="/home" href="#"><div>Hírek</div></a>
                    </li>
                    <li>
                        <a routerLink="/home" href="#"><div>Bemutató</div></a>
                    </li>
                    <li>
                        <a routerLink="/home" href="#"><div>Tagszervezetek</div></a>
                        <ul>
                            <li><a href="shop.html"><div>4 Columns</div></a></li>
                            <li><a href="cart.html"><div>Cart</div></a></li>
                            <li><a href="checkout.html"><div>Checkout</div></a></li>
                        </ul>
                    </li>
                    <li>
                        <a routerLink="/home" href="#"><div>Kiadványok</div></a>
                    </li>
                    <li>
                        <a routerLink="/home" href="#"><div>Teljesítménytúra</div></a>
                    </li>
                    <li>
                        <a routerLink="/home" href="#"><div>Eseménynaptár</div></a>
                    </li>
                </ul>

                <!-- Top Search
                ============================================= -->
                <div id="top-search">
                    <a href="#" id="top-search-trigger"><i class="icon-search3"></i><i class="icon-line-cross"></i></a>
                    <form action="search.html" method="get">
                        <input type="text" name="q" class="form-control" value="" placeholder="Keresés..">
                    </form>
                </div><!-- #top-search end -->

            </div>

        </nav><!-- #primary-menu end -->

    </div>

</header><!-- #header end -->