<div id="top-bar">

    <div class="container clearfix">

        <div class="col_half nobottommargin">

            <!-- Top Links
            ============================================= -->
            <div class="top-links">
                <ul>
                    <li><a routerLink="/contact">Kapcsolat</a></li>
                    <li><a href="http://www.ekemuzeum.ro" target="_blank">M&#250;zeum</a></li>
                    <li><a href="http://www.ekegyopar.ro" target="_blank">Gyop&#225;r</a></li>
                    <li><a href="http://www.ekevandortabor.ro" target="_blank">V&#225;ndort&#225;bor</a></li>
                </ul>
            </div><!-- .top-links end -->

        </div>

        <div class="col_half fright col_last nobottommargin">

            <!-- Top Social
            ============================================= -->
            <div id="top-social">
                <ul>
                    <li><a href="#" class="si-github"><span class="ts-icon"><i class="icon-home"></i></span><span class="ts-text">Haza</span></a></li>
                    <li><a href="#" class="si-facebook"><span class="ts-icon"><i class="icon-facebook"></i></span><span class="ts-text">Facebook</span></a></li>
                    <li><a href="#" class="si-twitter"><span class="ts-icon"><i class="icon-twitter"></i></span><span class="ts-text">Twitter</span></a></li>
                    <li><a href="#" class="si-instagram"><span class="ts-icon"><i class="icon-instagram2"></i></span><span class="ts-text">Instagram</span></a></li>
                    <li><a href="tel:+91.11.85412542" class="si-call"><span class="ts-icon"><i class="icon-call"></i></span><span class="ts-text">0744 251 245 (dr. Kov&#225;cs Lehel Istv&#225;n); 0723 159 000 (Veres &#193;gnes)</span></a></li>
                    <li><a href="mailto:eke@eke.ro" class="si-email3"><span class="ts-icon"><i class="icon-email3"></i></span><span class="ts-text">eke@eke.ma</span></a></li>
                </ul>
            </div><!-- #top-social end -->

        </div>

    </div>

</div><!-- #top-bar end -->